* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  li {
    float: left;
  }
  
  li.nav-item a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav-item a:hover {
    background-color: #555;
  }
  nav input {
    font-size: 20px;
    padding: 4px;
    outline: none;
    margin: 8px;
  }
  .navbar {
    clear: left;
  }
  .nav-logo {
    height: 100px;
  }
  .nav-logo img {
    height: 100%;
    width: auto;
    display: block;
  }
  header {
    background-color: #000;
    color: #fff;
  }
  .header-title div {
    float: left;
    font-size: 30px;
    text-align: right;
  }
  .nav-text {
    float: right !important;
    width: 60%;
    padding: 14px 12px;
  }
  li img {
    height: 20px;
  }
  .carousel {
    width: 30%;
    height: 450px;
    background-color: #000;
    margin: 12px auto;
  }
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0%;
  }
  ul.slider {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
  }
  ul.slider li {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: opacity 0.5s;
  }
  ul.slider img {
    object-fit: cover;
    height: inherit;
  }
  ul.slider li:first-child {
    opacity: 1;
  }
  ul.numbers {
    margin: auto;
    display: block;
  }
  ul.numbers li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 64px;
  }
  ul.numbers li a:hover {
    background-color: #555;
  }
  ul.slider li:target {
    opacity: 1;
  }
